<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>
<h1 th:text="${store.name}"></h1>
<section>
    <h2>Pedidos de la tienda</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Gestionar</th>
        </tr>
        <tr th:each="order: ${store.orderList}">
            <td th:text="${order.id}"></td>
            <td><a th:href="${'/stores/' + store.id + '/orders/' + order.id}">Gestionar</a></td>
        </tr>
    </table>
</section>
</body>
</html>