<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>
<h1 th:text="Tienda: ${store.name} - Pedido: ${order.name}"></h1>
<section>
    <h2>Lista de productos del pedido</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio por unidad</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="productOrder: ${order.productOrderList}">
            <td th:text="${productOrder.product.name}"></td>
            <td th:text="${productOrder.quantity + ' unidades'}"></td>
            <td th:text="${productOrder.product.price + ' €'}"></td>
            <td><a th:href="${'/stores/' + store.id + '/orders/' + order.id + '/products/remove/' + product.id}">Eliminar
                producto</a>
            </td>
        </tr>
    </table>
</section>
<section>
    <h2>Lista de productos de la tienda</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Añadir</th>
        </tr>
        <tr th:each="product: ${store.productList}" th:if="${!order.productList.contains(product)}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.stock} unidades"></td>
            <td th:text="${product.price}€"></td>
            <td><a th:href="{'/stores/' + store.id + '/orders/' + order.id + '/products/add/' + product.id}">Añadir
                producto</a>
            </td>
        </tr>
    </table>
</section>
<section>
    <h2>Lista de empleados del pedido</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="worker: ${order.workerList}">
            <td th:text="${worker.name}"></td>
            <td th:text="${worker.surname}"></td>
            <td>
                <a th:href="{'/stores/' + store.id + '/orders/' + order.id + '/workers/remove/' + worker.id}">Eliminar</a>
            </td>
        </tr>
    </table>
</section>
<section>
    <h2>Lista de empleados de la tienda</h2>
    <h2>Lista de empleados del pedido</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Añadir</th>
        </tr>
        <tr th:each="worker: ${order.workerList}" th:if="${!order.workerList.contains(worker)}">
            <td th:text="${worker.name}"></td>
            <td th:text="${worker.surname}"></td>
            <td><a th:href="${'/stores/' + store.id + '/orders/' + order.id + '/workers/add/' + worker.id}">Eliminar</a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>