<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>
<h1 th:text="${store.name}"></h1>
<section>
    <h2>Lista de productos</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="product: ${store.productList}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.stock} unidades"></td>
            <td th:text="${product.price}€"></td>
            <td><a th:href="/stores/${store.id}/products/remove/${student.id}">Eliminar producto</a></td>
        </tr>
    </table>
</section>
<section>
    <h2>Añadir un producto nuevo</h2>
    <form action="/stores/${store.id}/products/add" method="post">
        <label for="name">Introduzca el nombre del producto: </label>
        <input id="name" type="text" placeholder="Nombre del producto" />
        <br>
        <label for="stock">Introduzca el stock del producto: </label>
        <input id="stock" type="text" placeholder="Stock del producto" />
        <br>
        <label for="price">Introduzca el precio del producto: </label>
        <input id="price" type="text" placeholder="Precio del producto" />
        <br>
        <input type="submit" value="Añadir producto">
    </form>
</section>
</body>
</html>