<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>
<h1 th:text="${store.name}"></h1>
<section>
    <h2>Cartas de la tienda</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Gestionar</th>
        </tr>
        <tr th:each="menu: ${store.menuList}">
            <td th:text="${menu.name}"></td>
            <td><a th:href="/stores/${store.id}/menus/${menu.id}">Gestionar</a></td>
        </tr>
    </table>
</section>
</body>
</html>