<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>
<h1 th:text="Tienda: ${store.name} - Carta: ${menu.name}"></h1>
<section>
    <h2>Lista de productos de la carta</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="product: ${menu.productList}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.stock} unidades"></td>
            <td th:text="${product.price}€"></td>
            <td><a th:href="/stores/${store.id}/menus/${menu.id}/products/remove/${product.id}">Eliminar producto</a></td>
        </tr>
    </table>
</section>
<section>
    <h2>Lista de productos de la tienda</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Añadir</th>
        </tr>
        <tr th:each="product: ${store.productList}" th:if="${!menu.productList.contains(product)}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.stock} unidades"></td>
            <td th:text="${product.price}€"></td>
            <td><a th:href="/stores/${store.id}/menus/${menu.id}/products/add/${product.id}">Añadir producto</a></td>
        </tr>
    </table>
</section>
</body>
</html>